<div class="footer">
    <footer>
        <div class="container">
            <p class="pull-left"><a href="/">Боковушка</a> © 2017</p>
            <div class="clearfix"></div>
        </div>
    </footer>
</div>