{{#> static/templates/src/layout}}
    {{#*inline "title"}}Hello {{name}}!{{/inline}}
    {{#*inline "content"}}
        <h1>Unauthorized</h1>
    {{/inline}}
{{/ static/templates/src/common/_base-layout}}